//Re-design, trying to follow the material design
@nav-height: 38px;
@nav-height-1: @nav-height - 2;
@nb-color-1: #9c3aff;
@nb-color-2: #d8b2ff;
@nb-color-wtf: #9c3aff;
@nb-color-soso: #56109d;
@nb-color-bad: #1d0336;
@md-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
@md-color-1: #fafafa;
@md-color-2: #cccccc;



body{
  background: @md-color-2;
  width: 600px;
  font-family: Arial;
  margin: 0px;
  border: 8px solid @md-color-2;
  &::-webkit-scrollbar {
    background-color: @md-color-2;
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right, #b598d2, @nb-color-2);
    &:hover {
      background-image: linear-gradient(to right, #c58cff, @nb-color-2);
    }
  }
  &::-webkit-scrollbar-track {
    background-color: @md-color-1;
  }
  a{
    text-decoration: none;
    color: @nb-color-1;
    cursor: pointer;
  }
}

nav{
  box-shadow: @md-box-shadow;
  ul{
    background: @md-color-1;
    padding: 0px;
    width: 100%;
    height: @nav-height;
    text-align: center;
    margin-top:0px;
    margin-bottom:8px;
    li{
      height: 100%;
      width: 16.66%;
      float: left;
      list-style: none;
      a{
        font-size: 14px;
        font-weight: bold;
        height: @nav-height-1;
        width: 100%;
        display: block;
        text-decoration: none;
        line-height: @nav-height;
        color: grey;
        border-bottom: 2px solid white;
        &:visited{
          color: grey;
        }
      }
    }
    li.active{
      a{
        color: @nb-color-1;
        border-bottom-color: @nb-color-1;
      }
    }
  }
}

#manage{
  img.app-icon{
    cursor: pointer;
  }
  .app-name{
    cursor: pointer;
  }
  .actionBar{
    #type{
      margin-left: 13px;
    }
    .button{
      margin-left: 8px;
      border-radius: 0px;
      padding: 2px;
    }
  }
}

#options{
  .defaultPage{
    display: inline-block;
    line-height: 16px;
    vertical-align: middle;
    margin-right: 7px;
  }
  .section{
    .switch{
      & + .switch{
        margin-top: 8px;
      }
    }
  }
}

#about{
  #top{
    height: 100px;
  }
  #icon1, #icon2{
    width: 69px;
    height: 69px;
    top: 96px;
    position: absolute;
    margin-left: 80px;
  }
  #icon2{
    margin-left: 430px;
  }
  .shareIcon{
    float: left;
    width: 66px;
    margin: 2px;
  }
}

.section{
  overflow: hidden;
  background: @md-color-1;
  box-shadow: @md-box-shadow;
  margin-bottom: 8px;
  padding: 16px;
  padding-bottom: 8px;
  .header{
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #a8a8a8;
    margin: -8px;
    margin-bottom: 5px;
    color: @nb-color-1;
  }
}

.arrowUp {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(128, 128, 128, 0.46);
}

.arrowUp.active{
  border-bottom: 10px solid @nb-color-1;
}

.arrowDown {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(128, 128, 128, 0.46);
}

.arrowDown.active{
  border-top: 10px solid @nb-color-1;
}

.flip{
  .front,.back{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  &:hover {
    .front{
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
    .back{
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
  }
  .front{
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  .back{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

* {
  transition-duration: 0.618s;
}

#app{
  .app-name{
    font-size: 23px;
  }
  .section{
    overflow: hidden;
    position: relative;
  }
  .config{
    position: absolute;
    margin-left: 200px;
    top: 66px;
  }
  .config *{
    float: left;
    margin-right: 8px;
  }
  .app-status-checkbox:not(:checked) + .app-switch{
      background-image: url("/thirdParty/power-button-off.svg");
  }
  .app-icon{
    overflow: hidden;
    position: absolute;
    right: 8px;
    img{
      width: 128px;
    }
  }
  .app-brief{
    td{
      height: 24px;
      &:nth-child(1) {
        width: 80px;
      }
      &:nth-child(2) {
        width: 300px;
      }
    }
  }
  .app-launcher{
    position: absolute;
    top: 179px;
    left: 504px;
    padding: 9px;
  }
  ul{
    list-style: none;
    padding-left: 0px;
    li{
      margin-bottom: 3px;
    }
  }
  .app-detail{
    border-collapse: collapse;
    tr + tr{
      border-top: 1px solid lightgrey;
    }
    td{
      height: 24px;
      &:nth-child(1) {
        width: 120px;
      }
      &:nth-child(2) {
        width: 300px;
      }
    }
  }
  .tags{
    .tagColumn{
      float: left;
      & + .tagColumn{
        margin-left: 16px;
      }
      .tag{
        background-color: rgba(211, 211, 211, 0.48);
        text-align: center;
        cursor: pointer;
        color: grey;
        width: 80px;
        margin-top: 3px;
      }
      .tag.soso.active{
        background: @nb-color-soso;
      }
      .tag.bad.active{
        background: @nb-color-bad;
      }
    }
  }
}

.reco{
  overflow: hidden;
  margin-top: 5px;
  & + .reco{
    border-top: 1px solid #a8a8a8;
    padding-top: 5px;
  }
  .votes{
    width: 40px;
    text-align: center;
    float: left;
    .upVotes{
      cursor: pointer;
      .arrowUp{
        margin-left: 10px;
      }
      .count{
        margin-top: -10px;
      }
    }
    .score{
      height: 20px;
      margin-top: 4px;
    }
    .downVotes{
      cursor: pointer;
      .arrowDown{
        margin-left: 10px;
      }
      .count{
        margin-top: -10px;
      }
    }
  }
  .appBrief{
    .front{
      -webkit-transform: rotateX(0deg);
      transform: rotateX(0deg);
    }
    .back{
      -webkit-transform: rotateX(180deg);
      transform: rotateX(180deg);
    }
    &:hover {
      .front{
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
      }
      .back{
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
      }
    }
    position: relative;
    .back{
      position: absolute;
      top: 0px;
    }
  }
  .app{
    float: left;
    margin-left: 11px;
    .appBrief{
      float:left;
      width: 200px;
    }
    .appReview{
      float: left;
      .tags{
        margin-left: 8px;
        .tagColumn{
          float: left;
          & + .tagColumn{
            margin-left: 16px;
          }
          .tag{
            background-color: rgba(211, 211, 211, 0.48);
            text-align: center;
            cursor: pointer;
            color: grey;
            width: 80px;
            margin-top: 3px;
          }
          .tag.soso.active{
            background: @nb-color-soso;
          }
          .tag.bad.active{
            background: @nb-color-bad;
          }
        }
      }
    }
  }
}

#discover{
  transition-duration: 0s;
  .app-holder{
    transition-duration: 0.618s;
  }
}

#manage{
  .app-options{
    filter: invert(70%);
  }
  .app-remove{
    filter: invert(50%);
  }
  .app-holder{
    margin-right: 10px;
    width: 130px;
    .app-status-checkbox:not(:checked) + .app-brief{
      .app-switch{
        background-image: url("/thirdParty/power-button-off.svg");
        filter: invert(50%);
      }
      img{
        filter: invert(23%);
      }
    }
    .app-info{
      top: -10px;
      left: -6px;
      width: 100px;
      height: 100px;
      pointer-events:none;
      .app-name,.app-version{
        display:none;
      }
      .app-switch, .app-options, .app-remove{
        pointer-events:all;
        background-size: 17px 17px;
        margin-left: 96px;
        width: 22px;
        height: 22px;
        margin-bottom: 3px;
      }
      .app-name{
        pointer-events:all;
      }
    }
    .app-brief{
      padding: 0px;
      margin: 0px;
      width: 100px;
      height: 100px;
    }
    .app-icon{
      height: 80%;
      margin: 10%;
    }
    .app-icon,.app-info{
      transform: none;
    }
    &:hover{
      .app-icon,.app-info{
        transform: none;
      }
    }
  }
}

.newRule{
  font-size: 15px;
  .input-header{
    width: 100px;
    display: inline-block;
  }
  .addRule{
    margin-left: 100px;
    margin-bottom: 8px;
  }
  .selectedApps,.selectedAction,.match{
    margin-bottom: 8px;
  }
  .selectedApps{
    .selected{
      display: inline-block;
      height: 23px;
      min-width: 1px;
    }
    img{
      width: 23px;
    }
  }
  .selectedAction{
  }
  .match{
  }
}

.app-holder{
  float: left;
  width: 113px;
  height: 113px;
  position: relative;
  .app-brief{
    padding: 10%;
    width: 80%;
    height: 80%;
    position: relative;
    .app-icon,.app-info{
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    .app-icon{
      height: 100%;
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    .app-info{
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
      position: absolute;
      text-align: center;
      top: 0px;
      left: 0px;
      padding: 10%;
      padding-top: 23px;
      width: 80%;
      a{
        display: block;
      }
    }
  }
  .dimmer{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.47);
  }
  &:hover{
    .app-brief{
      .app-icon{
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
      }
      .app-info{
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
      }
    }
  }
}

.listView{
  &:checked{
    ~ .app-holder{
      width: 100% !important;
      height: 33px !important;
      .app-brief{
        .app-name{
          margin-top: -36px;
          width: 256px;
          margin-left: 66px;
          text-align: left;
          margin-top: -15px;
        }
        .app-version{
          margin-top: -22px;
          margin-left: 336px;
        }
        .app-icon{
          width: 23px !important;
          height: 23px !important;
          position: absolute;
          margin-left: 36px !important;
          top: 0px;
          left: 0px;
        }
        .app-switch{
          margin-left: 6px !important;
        }
        .app-remove{
          margin-top: -25px;
          margin-left: 457px !important;
        }
        .app-options{
          margin-top: -25px;
          margin-left: 424px !important;
        }
      }
      *{
        display: block !important;
      }
      .app-status-checkbox{
        display: none !important;
      }
    }
  }
}

.autoState-table {
  text-align: left;
  line-height: 33px;
  border-collapse: collapse;
  tbody {
    tr {
      border-top: 1px solid lightgrey;
      td {
        font-size: 15px;
        img {
          height: 23px;
          width: 23px;
          vertical-align: middle;
        }
        &:nth-child(1) {
          width: 60px;
          font-size: 13px;
        }
        &:nth-child(2) {
          text-transform: capitalize;
          width: 100px;
        }
        &:nth-child(3) {
          width: 100px;
        }
        &:nth-child(4) {
          display: block;
          overflow: hidden;
          white-space: nowrap;
          width: 180px;
        }
        &:nth-child(5),&:nth-child(6) {
          font-weight: bold;
          color: @nb-color-1;
          cursor: pointer;
          width: 50px;
        }
      }
      .disabled {
        color: grey;
      }
      .enabled {
        color: limegreen;
      }
      .installed{
        color: green;
      }
      .updated{
        color: #6d8aff;
      }
      .removed {
        color: red;
      }
    }
  }
}

.history-table {
  text-align: left;
  line-height: 33px;
  border-collapse: collapse;
  tbody {
    tr {
      border-top: 1px solid lightgrey;
      td {
        font-size: 15px;
        img {
          height: 23px;
          width: 23px;
          vertical-align: middle;
        }
        &:nth-child(1) {
          width: 109px;
          font-size: 13px;
        }
        &:nth-child(2) {
          text-transform: capitalize;
          width: 35px;
        }
        &:nth-child(3) {
          width: 35px;
        }
        &:nth-child(4) {
          display: block;
          overflow: hidden;
          white-space: nowrap;
          width: 242px;
        }
      }
      .disabled {
        color: grey;
      }
      .enabled {
        color: limegreen;
      }
      .installed{
        color: green;
      }
      .updated{
        color: #6d8aff;
      }
      .removed {
        color: red;
      }
    }
  }
}

.recoApp{
  .goRecoLabel{
    &::after{
      content:"";
      width:0;
      height:0;
      border-left:6px solid transparent;
      border-right:6px solid transparent;
      border-top:6px solid white;
      position: absolute;
      top: 8px;
      right: 4px;
    }
    position: relative;
    margin-bottom: 3px;
    cursor: pointer;
    margin-top: 11px;
    padding-right: 19px;
    display: inline-block;
  }
  .recoBoard{
    display: none;
  }
  .goReco{
    display: none;
    &:checked{
      & + .goRecoLabel{
        &:after{
          border-bottom:6px solid white;
          border-top: none;
        }
      }
      & ~ .recoBoard{
        display: block;
      }
    }
  }
}

.tag.wtf.active {
  background: @nb-color-wtf !important;
}

.tag.active{
  color: white !important;
  font-weight: bold;
}

.button{
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  padding: 3px;
  background: @nb-color-1;
  color: white;
  display: inline-block;
}

.space{
  margin-top: 3px;
}

input{
  border: 1px solid @nb-color-1;
}

input[type="checkbox"]{
  display: none;
}

input[type="checkbox"] + .checkbox{
  position: relative;
  width: 24px;
  height: 14px;
  display: inline-block;
}

input[type="checkbox"] + .checkbox::before{
  content:'';
  display: inline-block;
  width: 14px;
  height: 14px;
  background: white;
  cursor: pointer;
  position: absolute;
  border: 2px solid @nb-color-1;
  
}

input[type="checkbox"]:checked + .checkbox::before{
  background: @nb-color-1;
}

input[type="checkbox"]:checked + .checkbox::after{
  content:'';
  width: 13px;
  height: 6px;
  left: 1px;
  top: 2px;
  position:absolute;
  border: 3.3px solid white;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

select {
  background: #ffffff;
  color: @nb-color-1;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  vertical-align: middle;
  border: 1px solid @nb-color-1;
  height: 20px;
}

@keyframes spinRightAnime { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@keyframes spinLeftAnime {100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.spinRight{
  animation: spinRightAnime 3s linear infinite;
}

.spinLeft{
  animation: spinLeftAnime 3s linear infinite;
}

.actionBar{
  background: rgba(213, 176, 252, 0.48);
  padding: 4px;
  overflow: hidden;
  .event{
    font-size: 15px;
    line-height: 19px;
    float: left;
  }
  #keyword{
    float: left;
    margin-left: 13px;
  }
  .type{
    float: left;
  }
}

.app-switch, .app-options, .app-remove, .app-add,.viewGrid,.viewList{
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
}
.app-switch {
  background-image: url("/thirdParty/power-button-on.svg");
}
.app-options{
  background-image: url("/thirdParty/options.svg");
}
.app-remove {
  background-image: url("/thirdParty/remove.svg");
}
.app-add {
  background-image: url("/thirdParty/add.svg");
}
.changeView{
  float: right;
  width: 44px;
  .listView:checked{
    & ~ .viewGrid{
      filter: invert(50%);
    }
    & ~ .viewList{
      filter: invert(0%);
    }
  }
  .viewGrid{
    background-size: 18px 18px;
    background-image: url("/thirdParty/view-grid.svg");
    background-position: center;
    width: 20px;
    height: 20px;
    float: left;
  }
  .viewList{
    background-size: 20px 20px;
    background-image: url("/thirdParty/view-list.svg");
    width: 20px;
    float: right;
    height: 20px;
    filter: invert(50%);
  }
}
