body {
  background-color: #eee9ed;
  margin: 0px;
  width: 588px;
}
body::-webkit-scrollbar {
  background-color: #283c0c;
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right, #000000, #000000);
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to right, pink, pink);
}
body::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
}
.footerPad,
.headerPad {
  height: 37px;
  width: 100%;
}
a:hover {
  cursor: pointer;
}
a {
  color: #4016d9;
}
a:visited {
  color: #4016d9;
}
.section {
  overflow: hidden;
  margin: 6px;
  background-color: #ffecf0;
  box-shadow: 1px 1px 4px 1px grey;
  padding: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
}
button {
  border-radius: 3px;
  border: none;
  height: 22px;
  font-weight: bold;
  color: white;
  background-color: #ff95a8;
  cursor: pointer;
}
#overview .manage {
  font-size: 22px;
  font-weight: bold;
}
#overview .status {
  margin-left: 30px;
}
#overview a,
#overview a:visited {
  color: #f927cd;
  text-decoration: underline;
}
#overview .recoApp {
  border-top: 3px solid #e88bcf;
}
#overview .recoApp .goReco {
  display: none;
}
#overview .recoApp .goRecoLabel {
  cursor: pointer;
  font-weight: bold;
  font-size: 21px;
  color: #d72de1;
  margin-left: 30px;
}
#overview .recoApp .recoBoard {
  display: none;
}
#overview .recoApp .recoBoard .actionBar {
  overflow: hidden;
  padding: 3px;
}
#overview .recoApp .recoBoard .actionBar * {
  float: left;
  margin-left: 13px;
}
#overview .recoApp .goReco:checked + .recoBoard {
  display: block;
}
.flip .front,
.flip .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip:hover .front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flip:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.flip .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.flip .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#history {
  background-color: #ffecf0;
}
#discover {
  overflow: hidden;
}
#discover .website {
  color: #f927cd;
  font-weight: bold;
}
#discover .recoApp {
  overflow: hidden;
}
#discover .header {
  font-size: 22px;
}
#discover .noReco {
  margin-left: 33px;
  font-size: 17px;
}
#discover .reco {
  padding-top: 3px;
  overflow: hidden;
}
#discover .reco + .reco {
  border-top: solid 3px pink;
}
#discover .reco .appBrief {
  margin-top: 10px;
  position: relative;
  float: left;
  width: 190px;
}
#discover .reco .appBrief .description {
  position: absolute;
  top: 0;
}
#discover .reco .appReview {
  float: left;
}
#discover .reco .appReview .rating {
  float: left;
  width: 60px;
  text-align: center;
}
#discover .reco .appReview .rating .ratingBar {
  margin: auto;
}
#discover .reco .appReview .rating .ratingDetail {
  margin-top: -50px;
}
#discover .reco .appReview .tags {
  float: left;
}
#discover .reco .appReview .tags .tagColumn {
  float: left;
  margin-left: 22px;
}
#discover .reco .appReview .tags .tag {
  cursor: pointer;
  margin: 3px;
}
#discover .reco .appReview .tags .tag.active {
  -webkit-box-shadow: 1px 1px 2px 1px #ff40f0;
  box-shadow: 1px 1px 2px 1px #ff40f0;
  background-color: #fff4f6;
}
#discover .reco .votes {
  width: 66px;
  float: left;
  margin-top: 13px;
}
#discover .reco .votes .score {
  width: 66px;
  text-align: center;
}
#discover .reco .votes .upVotes,
#discover .reco .votes .downVotes {
  width: 66px;
}
#discover .reco .votes .downVotes {
  margin-top: 5px;
}
#discover .reco .votes .front,
#discover .reco .votes .back {
  cursor: pointer;
}
#discover .reco .votes .front {
  margin-left: 23px;
  position: absolute;
}
#discover .reco .votes .back {
  width: 66px;
  text-align: center;
}
#discover .reco .app {
  float: left;
}
.NooBoss-body {
  height: auto;
  overflow: hidden;
}
.NooBoss-body .actionBar {
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  background-color: #ffecf0;
  padding: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.NooBoss-body .actionBar .type,
.NooBoss-body .actionBar .event {
  float: left;
}
.NooBoss-body .actionBar a {
  margin-left: 10px;
  color: #ffa2a2;
  text-decoration: underline;
}
.NooBoss-body .actionBar #keyword {
  float: left;
  margin-left: 13px;
}
.NooBoss-body .actionBar span {
  margin-left: 8px;
}
.NooBoss-body .actionBar span:hover {
  cursor: pointer;
}
.NooBoss-body .actionBar #enableAll {
  color: #15af52;
}
.NooBoss-body .actionBar #disableAll {
  color: grey;
}
* {
  transition-duration: 0.618s;
}
.noTransTime {
  transition-duration: 0s;
}
nav {
  z-index: 10;
  position: fixed;
  top: 0px;
  height: 37px;
  width: 100%;
}
nav ul li {
  background: linear-gradient(to right, pink, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, pink);
  width: 25%;
}
nav ul li a {
  color: white;
}
nav ul li a:visited {
  color: white;
}
nav ul li:hover {
  background: linear-gradient(to right, pink, pink);
}
a {
  text-decoration: none;
}
ul {
  margin: 0px;
  padding-left: 0px;
}
ul li {
  display: block;
  float: left;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
ul li.active {
  background: linear-gradient(to right, pink, pink);
}
.footer {
  bottom: 0px;
  clear: both;
  height: 37px;
  position: fixed;
  width: 100%;
}
.footer ul li {
  background: linear-gradient(to right, pink, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, pink);
  width: 50%;
}
.footer ul li a {
  color: white;
}
.footer ul li:hover {
  background: linear-gradient(to right, pink, pink);
}
.footer ul li.active {
  background: linear-gradient(to right, pink, pink);
}
.dimmer,
.nonDimmer {
  position: absolute;
  height: 90px;
  width: 90px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.64);
  pointer-events: none;
}
.nonDimmer {
  background-color: rgba(0, 0, 0, 0);
}
.app-holder {
  position: relative;
  float: left;
  height: 90px;
  width: 90px;
}
.app-holder .app-status-checkbox {
  display: none;
}
.app-holder .app-status-checkbox:not(:checked) + .app-brief {
  background-color: grey;
}
.app-holder .app-status-checkbox:not(:checked) + .app-brief .app-switch {
  background-image: url("/thirdParty/power-button-off.svg");
}
.app-holder .app-status-checkbox:not(:checked) + .app-brief .app-info {
  background-color: grey;
}
.app-holder .app-status-checkbox:not(:checked) + .app-brief img {
  filter: invert(10%);
}
.app-holder .app-status-checkbox:not(:checked) + .app-brief hover {
  background-color: #bbbbbb !important;
}
.app-holder .app-brief {
  background-color: beige;
  border: 1px solid pink;
  font-size: 12px;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.app-holder .app-brief:hover .app-info {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.app-holder .app-brief:hover .app-icon {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.app-holder .app-brief .app-info {
  margin-top: 8px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: beige;
  height: 90px;
  position: absolute;
  text-align: center;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  width: 100%;
}
.app-holder .app-brief .app-info .app-version {
  font-weight: bold;
  font-style: italic;
  display: block;
  margin-top: 13px;
}
.app-holder .app-brief .app-icon {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 3px;
  position: absolute;
  left: 0px;
  width: 84px;
}
.app-holder .app-brief .app-switch {
  background-image: url("/thirdParty/power-button-on.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  cursor: pointer;
  display: block;
  float: left;
  height: 20px;
  margin-left: 8px;
  width: 20px;
}
.app-holder .app-brief .app-options {
  background-image: url("/thirdParty/options.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  cursor: pointer;
  display: block;
  height: 20px;
  float: left;
  margin-left: 11px;
  width: 20px;
}
.app-holder .app-brief .app-remove {
  background-image: url("/thirdParty/remove.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  cursor: pointer;
  display: block;
  float: right;
  height: 20px;
  margin-right: 8px;
  width: 20px;
}
.app-holder .app-brief .app-name {
  display: block;
  font-weight: bold;
  color: #2d40b6;
}
.newRule {
  text-align: center;
  overflow: hidden;
}
.newRule .selected {
  min-height: 13px;
}
.newRule .selected img {
  height: 15px;
  width: 15px;
}
.newRule .addRule {
  margin-left: 6px;
}
h2 {
  text-align: center;
  margin: 0px;
}
.actionBar.autoState {
  border-top: 2px solid pink;
  margin-top: 8px;
  padding-top: 8px;
}
.sectionHeader {
  width: 100%;
  font-size: 27px;
}
@keyframes spinRightAnime {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinLeftAnime {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.spinRight {
  animation: spinRightAnime 3s linear infinite;
}
.spinLeft {
  animation: spinLeftAnime 3s linear infinite;
}
#About h1 {
  text-align: center;
}
#About #icon1,
#About #icon2 {
  width: 69px;
  height: 69px;
  top: 49px;
  position: absolute;
  margin-left: 80px;
}
#About #icon2 {
  margin-left: 430px;
}
#About section p {
  margin-left: 22px;
  margin-right: 22px;
}
#About section ul {
  margin: 0px;
  margin-left: 23px;
  padding-left: 28px;
  overflow: hidden;
}
#About section ul li {
  font-weight: normal;
  font-size: inherit;
  text-align: left;
  float: none;
  display: list-item;
  color: brown;
}
#About section ul li ul li {
  color: #4a4ef4;
}
#About section ul li ul li ul li {
  color: red;
}
.AutoStateRules tbody tr td {
  border-top: 2px solid pink;
  font-size: 15px;
}
.AutoStateRules tbody tr td img {
  height: 15px;
  width: 15px;
}
.AutoStateRules tbody tr td:nth-child(1) {
  width: 60px;
}
.AutoStateRules tbody tr td:nth-child(2) {
  width: 100px;
  text-align: center;
}
.AutoStateRules tbody tr td:nth-child(3) {
  text-align: center;
  width: 100px;
}
.AutoStateRules tbody tr td:nth-child(4) {
  width: 195px;
  text-align: center;
}
.History-table tbody tr td {
  border-top: 2px solid pink;
  font-size: 15px;
}
.History-table tbody tr td img {
  height: 13px;
  width: 13px;
}
.History-table tbody tr td:nth-child(1) {
  width: 123px;
}
.History-table tbody tr td:nth-child(2) {
  text-transform: capitalize;
  font-weight: bold;
  width: 35px;
}
.History-table tbody tr td:nth-child(3) {
  text-align: center;
  width: 35px;
}
.History-table tbody tr td:nth-child(4) {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  width: 242px;
}
.History-table tbody tr .disabled {
  color: grey;
}
.History-table tbody tr .enabled {
  color: green;
}
.History-table tbody tr .installed {
  color: limegreen;
}
.History-table tbody tr .removed {
  color: red;
}
.app {
  overflow: hidden;
  background-color: #ffecf0;
}
.app .app-icon {
  width: 100px;
  height: 100%;
  float: left;
}
.app .app-icon img {
  width: 96px;
  margin: auto;
  margin-top: 2px;
}
.app .app-icon .config .app-switch,
.app .app-icon .config .app-options,
.app .app-icon .config .app-remove,
.app .app-icon .config .app-add {
  background-repeat: no-repeat;
  background-size: 50px 50px;
  cursor: pointer;
  display: block;
  height: 50px;
  margin: auto;
  margin-top: 8px;
  width: 50px;
}
.app .app-icon .config .app-switch {
  background-image: url("/thirdParty/power-button-on.svg");
}
.app .app-icon .config .app-options {
  background-image: url("/thirdParty/options.svg");
}
.app .app-icon .config .app-remove {
  background-image: url("/thirdParty/remove.svg");
}
.app .app-icon .config .app-add {
  background-image: url("/thirdParty/add.svg");
}
.app .app-main {
  float: left;
  width: 488px;
}
.app .app-main .app-name {
  font-size: 18px;
  font-weight: bold;
  color: #2d40b6;
  width: 400px;
  float: left;
}
.app .app-main .tags {
  border-top: 2px solid pink;
  float: left;
}
.app .app-main .tags .tagColumn {
  float: left;
  margin-left: 22px;
}
.app .app-main .tags .tag {
  cursor: pointer;
  margin: 3px;
}
.app .app-main .tags .tag.active {
  -webkit-box-shadow: 1px 1px 2px 1px #ff40f0;
  box-shadow: 1px 1px 2px 1px #ff40f0;
  background-color: #fff4f6;
}
.app .app-main .app-brief {
  width: 400px;
  float: left;
  height: 100px;
}
.app .app-main .app-brief tbody tr td {
  vertical-align: top;
}
.app .app-main .app-brief tbody tr td .disabled {
  font-weight: bold;
  color: grey;
}
.app .app-main .app-brief tbody tr td .enabled {
  font-weight: bold;
  color: green;
}
.app .app-main .app-brief tbody tr td:nth-child(1) {
  width: 20%;
}
.app .app-main .app-launcher {
  float: right;
  width: 88px;
  height: 88px;
  background-color: #37d351;
  border-radius: 30px;
  line-height: 100px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 23px;
  color: white;
}
.app .app-main .app-launcher:hover {
  cursor: pointer;
}
.app .app-main .app-detail {
  width: 400px;
  float: left;
  table-layout: fixed;
}
.app .app-main .app-detail tbody tr td {
  border-top: 2px solid pink;
}
.app .app-main .app-detail tbody tr td:nth-child(1) {
  width: 20%;
}
.app .app-main .app-detail tbody tr td ul li {
  font-size: 12px;
  height: 16px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  text-align: left;
}
.app .app-main .app-detail tbody tr td ul li:hover {
  background-color: rgba(0, 0, 0, 0);
}
.Options .header {
  height: 33px;
  width: 100%;
  font-size: 21px;
  font-weight: bold;
  font-style: italic;
}
.Options .switch,
.Options .button {
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 120px;
}
.Options .selector {
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 120px;
}
.Options .button {
  height: 30px;
  margin-top: 2px;
  margin-buttom: 2px;
  cursor: pointer;
  padding-left: 20px;
  background-color: red;
  color: white;
  border-radius: 9px;
  display: inline-block;
  padding-right: 20px;
}
.arrowUp {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(128, 128, 128, 0.46);
}
.arrowUp.active {
  border-bottom: 10px solid #ff24b2;
}
.arrowDown {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(128, 128, 128, 0.46);
}
.arrowDown.active {
  border-top: 10px solid #73196c;
}
.share .shareIcon {
  float: left;
  width: 66px;
  margin: 2px;
}
.tag {
  background-color: #fff8f8;
  border: 1px solid pink;
  border-radius: 3px;
  padding: 1px;
}
